@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100vh;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}
.container{
    display: flex;
    height: 97%;
    flex-direction: row-reverse;
}
.home-page {
    background-color: #ffffff;
    width: 82%;
}

.home-page .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;

    right: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: 0px -2px 3px #00000040;
}

.home-page .content {

    width: 100%;
    flex-grow: 1;
    background-color: #841f1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page .ref {
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.home-page .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    background-color: #ffffff;
}

.home-page .profile {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 30px;

    align-self: stretch;
    width: 100%;
}

.home-page .frame {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #646261;
    border-radius: 100px;
}

.home-page .icon {

    width: 20px;
    height: 20px;
}

.home-page .search {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 75%;
    align-self: stretch;
    width: 100%;
    overflow-y: scroll;
    position: relative;

}
.back {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    flex: 0 0 auto;
    padding: 5px 8px;
}
.login{
    background-color: #c20e1a;
    color: white;
    font-family: "Open Sans-Regular", Helvetica;
    border: none;
    padding: 10px 26px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: normal;
}
.login:hover {
    cursor: pointer;
    background-color: #a10c15;
    transform: scale(1.01);
    transition: background-color 0.3s ease;
}
.login:active{
    background-color: #a10c15;
    transform: scale(0.99);
}
.back:hover{
    border-radius: 10px;
    background-color:#f2f2f2;
}
.back:active{
    transform: scale(0.98);
}
.back .vector-wrapper {
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.back .vector {
    width: 90%;
}

.back .text-wrapper {
    width: fit-content;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #646261;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}
.search .detalles-recurso-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0px 80px 10px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #e5e5e5;
}

.search .detalles-recurso {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 305px; */
    align-items: flex-start;
    gap: 10px;
    padding: 30px 0px;
}
.detalles-recurso-wrapper .tipo{
    display: flex;
    gap: 6px;
}
.detalles-recurso-wrapper .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 0 0 auto;
}

.detalles-recurso-wrapper .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Open Sans-Light", Helvetica;
    font-weight: 300;
    color: #646261;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.detalles-recurso-wrapper .img-wrapper {
    width: 30px;
    /* height: 30px; */
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalles-recurso-wrapper .img {
    width: 20px;
    height: 25px;
    fill: #9D9B9A;
}

.detalles-recurso-wrapper .p {
    align-self: stretch;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #1f1f1f;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 0.6rem;
}

.detalles-recurso-wrapper .frame-2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    justify-content: start;
}

.detalles-recurso-wrapper .text-wrapper-3 {
    width: 22%;
    /* margin-top: -1.00px; */
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #1f1f1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.detalles-recurso-wrapper .text-wrapper-4 {
    width: 80%;
    /* margin-top: -1.00px; */
    font-family: "Open Sans-Light", Helvetica;
    font-weight: 300;
    color: #c20e1a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.detalles-recurso-wrapper .text-wrapper-5 {
    width: 80%;
    margin-top: -1.00px;
    font-family: "Open Sans-Light", Helvetica;
    font-weight: 300;
    color: #1f1f1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.detalles-recurso-wrapper .frame-3 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-bottom: -11.00px;
}
.frame-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 50px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: #ffffff;
}
.frame-4 .frame-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 12px;
    align-self: stretch;
    width: 100%;
    height: 42px;
    background-color: #e5e5e5;
    border-radius: 5px;
}
.frame-4 .text-wrapper-6 {
    flex: 1;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #1f1f1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}
.frame-4 .canasta {
/*    width: 212px;
    height: 25px;*/ 
  display:none;
  gap: 3px;
  border: none;
  background-color: transparent;
  align-items: center;
  
}
.canasta:hover{
    cursor: pointer;
    transform: scale(1.02);

}
.canasta-text{
    text-decoration: underline;
}

.frame-4 .table {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.table .header {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: transparent;
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #646261;
}
.table .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex: 0 0 auto;
}
.table .frame-7 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex: 1;
    flex-grow: 1;
}

.table .text-wrapper-7 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #1f1f1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.table .frame-8 {
    display: flex;
    /* width: 234.67px; */
    flex: 1.5;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.table .servicio {
    width: 100%;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #1f1f1f;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.table .row {
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #646261;
    display: flex;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.table .div-2 {
    width: 14px;
    height: 14px;
    border-radius: 3px;
    border: 1px solid;
    border-color: #9d9b9a;
    aspect-ratio: 1;
}
.table .text-wrapper-8 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 300;
    color: #1f1f1f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.table .text-wrapper-9 {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 300;
    color: #1f1f1f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}
.table .frame-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    flex: 1.5;
}
.table .image {
    height: 90%;
    aspect-ratio: 1;
    position: relative;
    object-fit: cover;
}
.table .line {
    width: 3px;
    height: 34px;
    background-color: #e5e5e5;
}
.table .res-icon{
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #c20e1a;
    color: #fff;
    text-decoration:none;
    
}
.table .res-icon:hover{
  cursor: pointer;
  background-color: #a10c15;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    align-items: center;
    gap: 5px;
    border-right: 3px solid #00000012;
    top: 16px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 3px 0px 8px #00000012;
}

.logo-section {
    display: flex;
    flex-direction: column;
    height: 180px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    align-self: stretch;
    width: 100%;
}

.logo-UV {

    width: 92%;
    object-fit: cover;
}

.separador {

    width: 80%;
    height: 3px;
    background-color: #00000012;
}

.mipanel-section {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;

    flex: 0 0 auto;
}

.side-bar .div-2 {
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 0px 0px 0px 10px;

    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.mipanel-section .text-wrapper-3 {
    margin-top: -1.00px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1c1a;
    font-size: 18px;

    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
}

.mipanel-section .arrow {

    width: 25px;
    height: 25px;
    aspect-ratio: 1;
}

.mipanel-section .vector-2 {
    width: 100%;
}

.mipanel-section .item-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 23px;
    display: flex;

    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.mipanel-section .item {

    align-items: center;
    gap: 16.76px;
    padding: 8.82px 0px 8.82px 8.82px;
    display: flex;

    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.mipanel-section .item:hover{
    
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mipanel-section .new-search {

    width: 22.94px;
    height: 22.94px;
    aspect-ratio: 1;
}

.mipanel-section .vector-3 {
    width: 17px;
    height: 17px;
}

.mipanel-section .text-wrapper-4 {

    width: fit-content;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14.1px;
    letter-spacing: 0;
    line-height: normal;
}

.mipanel-section .img-wrapper {

    width: 24px;
    height: 24px;
}

.mipanel-section .vector-4 {
    width: 91.57%;
    height: 79.17%;
}

.mipanel-section .vector-wrapper-2 {

    width: 22.06px;
    height: 22.06px;
    aspect-ratio: 1;
}

.mipanel-section .vector-5 {
    width: 19px;
    height: 18px;
}

.mipanel-section .vector-6 {
    width: 87.50%;
    height: 79.17%;
}

.tools-section {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;

    flex: 1;
    flex-grow: 1;
}

.side-bar  .text-wrapper-5 {

    flex: 1;
    margin-top: -1.00px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #1f1f1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.top-bar {
    background-color: #c20e1a;
    height:3%;
}

/*Estilos del modal resultado*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-overlay .modal-box {
  background-color: white;
  border-radius: 12px;
  padding: 30px 24px;
  width: 340px;
  /* height: 350px; */
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.modal-overlay .modal-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: #cc0000;
    font-size: 36px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.modal-overlay .text-contenedor{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 12px;
}

.modal-overlay .modal-title {
  color: #cc0000;
  margin: 8px auto;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modal-overlay .modal-message {
  margin-bottom: 16px;
  color: #1F1F1F;

  text-align: justify;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.modal-overlay .time-contenedor{
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  align-self: stretch;
}
.modal-overlay .time-img{
  width: 24px;
  height: 24px;
}
.modal-overlay .time-text{
  color: #1F1F1F;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.modal-overlay .modal-button {
  background-color: #c20e1a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.modal-overlay .modal-button:hover {
    cursor: pointer;
    background-color: #a10c15;
    transition: background-color 0.3s ease;
}
.modal-overlay .modal-button:active{
    background-color: #a10c15;
    transform: scale(0.99);
}
.error-message {
            color: #c20e1a;
            width: 80%;
            background-color: #ffdddd;
            border: 1px solid #eccccc;
            padding: 12px;
            margin-top: 30px;
            font-size: 20px;
            left: 10%;
            border-radius: 8px;
            position: absolute;
            top: -6.2rem;
}