.home-page .search {
  overflow-y: scroll;
}

.home-page .profile{
  justify-content: space-between;
}

.back {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  flex: 0 0 auto;
  padding: 5px 8px;
}

.back:hover {
  border-radius: 10px;
  background-color: #f2f2f2;
}
.back:active {
  transform: scale(0.98);
}
.back .vector-wrapper {
  width: 32px;
  height: 32px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
}

.back .vector {
  width: 90%;
}

.back .text-wrapper {
  width: fit-content;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #646261;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.search .detalles-recurso-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 0px 80px 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #e5e5e5;
}

.search .detalles-recurso {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 305px; */
  align-items: flex-start;
  gap: 10px;
  padding: 30px 0px;
}
.detalles-recurso-wrapper .tipo {
  display: flex;
  gap: 6px;
}
.detalles-recurso-wrapper .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.detalles-recurso-wrapper .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans-Light", Helvetica;
  font-weight: 300;
  color: #646261;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.detalles-recurso-wrapper .img-wrapper {
  width: 30px;
  /* height: 30px; */
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalles-recurso-wrapper .img {
  width: 20px;
  height: 25px;
  fill: #9d9b9a;
}

.detalles-recurso-wrapper .p {
  align-self: stretch;
  font-family: "Open Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #1f1f1f;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 0.6rem;
}

.detalles-recurso-wrapper .frame-2 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  justify-content: start;
}

.detalles-recurso-wrapper .text-wrapper-3 {
  width: 22%;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #1f1f1f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.detalles-recurso-wrapper .text-wrapper-4 {
  width: 80%;
  font-family: "Open Sans-Light", Helvetica;
  font-weight: 300;
  color: #c20e1a;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.detalles-recurso-wrapper .text-wrapper-5 {
  width: 80%;
  margin-top: 0;
  font-family: "Open Sans-Light", Helvetica;
  font-weight: 300;
  color: #1f1f1f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.detalles-recurso-wrapper .frame-3 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -11px;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 50px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
}
.frame-4 .frame-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 12px;
  align-self: stretch;
  width: 100%;
  min-height: 42px;
  height: auto;
  background-color: #e5e5e5;
  border-radius: 5px;
}
.frame-4 .text-wrapper-6 {
  flex: 1;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #1f1f1f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}
.frame-4 .canasta {
  /*    width: 212px;
    height: 25px;*/
  display: none;
  gap: 3px;
  border: none;
  background-color: transparent;
  align-items: center;
  color: #000;
}
.canasta:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.canasta-text {
  text-decoration: underline;
}

.frame-4 .table {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 100%;
  overflow-x: auto;
}
.table .header {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #646261;
}
.table .frame-6 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex: 0 0 auto;
}
.table .frame-7 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 0;
}

.table .text-wrapper-7 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #1f1f1f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  width: 172.1px;
  text-align: center;
}

.table .servicio {
  width: 100%;
  font-family: "Open Sans-Regular", Helvetica;
  font-weight: 400;
  color: #1f1f1f;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.table .row {
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #646261;
  display: flex;
  position: relative;
  flex-shrink: 0;
}
.table .div-2 {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid;
  border-color: #9d9b9a;
  aspect-ratio: 1;
}
.table .text-wrapper-8 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 300;
  color: #1f1f1f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  width: 172.1px;
  text-align: center;
}

.table .frame-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 274px;

}
.table .image {
  height: 90%;
  aspect-ratio: 1;
  position: relative;
  object-fit: cover;
}
.table .line {
  width: 3px;
  height: 34px;
  background-color: #e5e5e5;
}
.table .res-icon {
  font-family: "Open Sans-Regular", Helvetica;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #c20e1a;
  color: #fff;
  text-decoration: none;
}
.table .res-icon:hover {
  cursor: pointer;
  background-color: #a10c15;
}
.table .res-icon-dis {
  font-family: "Open Sans-Regular", Helvetica;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #e5e5e5;
  color: #646261;
  text-decoration: none;
  cursor: not-allowed;
}

/* Pantallas medianas (laptop pequeñas) */
@media (max-width: 1115px) {
  .table .text-wrapper-7, .table .text-wrapper-8{
    width: 150px;
  }
}
/* pantalla tipo tablets */
/* Ocultar sidebar en pantallas pequeñas */
@media  (max-width: 850px) {
  .frame-4{
    padding: 20px 40px;
  }
  .back{
    display: none;
  }
}
/* pantalla pequeña moviles */
@media (max-width: 556px) {
  .search .detalles-recurso-wrapper{
    padding: 0 30px 10px;
  }
  .detalles-recurso-wrapper .text-wrapper-3, .detalles-recurso-wrapper .text-wrapper-4
  , .detalles-recurso-wrapper .text-wrapper-5, .detalles-recurso-wrapper .text-wrapper-2{
    font-size: 16px;
  }
  .detalles-recurso-wrapper .div-wrapper{
    margin-bottom: 10px;
  }
  .detalles-recurso-wrapper .tipo{
    align-items: start;
  }
  .frame-4{
    padding: 20px 25px;
  }
}