@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100vh;
}

a {
    text-decoration: none;
}
.container{
    display: flex;
    height: 97%;
    flex-direction: row-reverse;
}
.home-page {
    background-color: #ffffff;
    width: 82%;


}

.home-page .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;

    right: 0;
    bottom: 0;
    background-color: transparent;
    box-shadow: 0px -2px 3px #00000040;
}

.home-page .content {

    width: 100%;
    flex-grow: 1;
    background-color: #841f1c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page .ref {
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.home-page .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    background-color: #ffffff;
}

.home-page .profile {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 0px 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.home-page .frame {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #646261;
    border-radius: 100px;
}

.home-page .icon {

    width: 20px;
    height: 20px;
}
.back{
    display: none;
}
.login{
    background-color: #c20e1a;
    color: white;
    font-family: "Open Sans-Regular", Helvetica;
    border: none;
    padding: 10px 26px;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: normal;
}
.login:hover {
    cursor: pointer;
    background-color: #a10c15;
    transform: scale(1.01);
    transition: background-color 0.3s ease;
}
.login:active{
    background-color: #a10c15;
    transform: scale(0.99);
}
.home-page .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 75%;
    align-self: stretch;
    width: 100%;

}
.nav-content {
    justify-content: center;
    gap: 10px;
    padding: 3px 50px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;

    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #646261;
}
.nav input{
    width: 100%;
    height: 100%;
    border: transparent;
    font-weight: 300;
    font-size: 20px;
    color: #131313;
    padding-left: 14px;
}
.nav input::placeholder {
    color: #1e1c1a;;
    opacity: 0.4;

}

.home-page .password {

    top: 0;
    left: 0;
    opacity: 0.3;
    font-family: "Open Sans-Light", Helvetica;
    font-weight: 300;
    color: #1e1c1a;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.nav .vector-wrapper {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background-color: #c20e1a;
}
.nav .vector-wrapper:hover{
    cursor: pointer;
    background-color: #a10c15; /* tono más oscuro al pasar el mouse */
    transform: scale(1.01);    /*efecto de "zoom" sutil*/
}

.nav .vector {

    width: 30px;
    height: 30px;
}

.nav .voice {
    display: flex;
    width: 36px;
    align-items: center;
    justify-content: center;

    align-self: stretch;
    background-color: #9d9b9a;
    border-radius: 0px 5px 5px 0px;
}
.img {
    width: 24px;
    height: 30px;
}

.nav-result-wrapper {
    display: flex;
    flex-direction: column;
    height: 48px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0px 50px;
    align-self: stretch;
    width: 100%;
    margin: 0.9rem 0;
}

.nav-result {
    gap: 10px;
    padding: 5px 5rem;
    width: 100%;
    flex-grow: 1;
    background-color: #e5e5e5;
    border-radius: 5px;
    border: 1px solid;
    border-color: #646261;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-result  .text-wrapper {
    font-family: "Open Sans-Light", Helvetica;
    font-weight: 200;
    color: #1e1c1a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}
.nav-result .p {

    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 300;
    color: #1f1f1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}
.result-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 25px; */
    padding: 0px 50px;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

.result {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    padding: 25px 0;
    border-bottom: 3px solid #00000012;
}

.numero {
    align-self: stretch;
    width: 100px;
}

.result .text-wrapper-2 {
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex: 1;
    flex-grow: 1;
    position: relative;
}
.contenido .delete{
    width: 40px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #c20e1a;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result .text-wrapper-3 {
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #1f1f1f;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
.result .text-wrapper-3:hover{
    text-decoration: underline;
    transform: scale(1.008);
}

.result .text-wrapper-4 {
    align-self: stretch;
    font-family: "Open Sans-LightItalic", Helvetica;
    font-weight: 300;
    font-style: italic;
    color: #1f1f1f;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.result .icon-text {
    display: inline-flex;
    align-items: flex-start;
    flex: 0 0 auto;
}

.result .vector-wrapper {
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
}

.result .vector-2 {
    width: 66.67%;
    height: 83.33%;
    top: 0;
    left: 0;
}

.result .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex: 0 0 auto;
}

.result .text-wrapper-5 {
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Open Sans-Light", Helvetica;
    font-weight: 300;
    color: #646261;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.result .text-wrapper-6 {
    align-self: stretch;
    font-family: "Open Sans-Light", Helvetica;
    font-weight: 300;
    color: #646261;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
.servicio {
  width: 200px;
  padding: 6px;
  border: 1px solid #9D989A; 
  border-radius: 5px;
  font-size: 16px;
  color: #cfcfec;
  cursor: pointer;
  transition: all 0.3s ease;
}

 /*Al pasar el mouse */
.servicio:hover {
  background-color: #eef;
}

 /*Opciones dentro del dropdown */
.servicio option {
  padding: 8px;
  background-color: #fff;
  color: #333;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    align-items: center;
    gap: 5px;
    border-right: 3px solid #00000012;
    top: 16px;
    left: 0;
    background-color: #ffffff;
    box-shadow: 3px 0px 8px #00000012;
}

.logo-section {
    display: flex;
    flex-direction: column;
    height: 180px;
    align-items: center;
    justify-content: center;
    gap: 10px;

    align-self: stretch;
    width: 100%;
}

.logo-UV {

    width: 92%;
    object-fit: cover;
}

.side-bar .separador {
    width: 80%;
    height: 3px;
    background-color: #00000012;
}

.mipanel-section {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    gap: 30px;
    padding: 10px;

    flex: 0 0 auto;
}

.side-bar .div-2 {
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 0px 0px 0px 10px;

    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.mipanel-section .text-wrapper-3 {
    margin-top: -1.00px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #1e1c1a;
    font-size: 18px;

    width: fit-content;
    letter-spacing: 0;
    line-height: normal;
}

.mipanel-section .arrow {

    width: 25px;
    height: 25px;
    aspect-ratio: 1;
}

.mipanel-section .vector-2 {

    width: 100%;

}

.mipanel-section .item-section {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 23px;
    display: flex;

    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.mipanel-section .item {
    align-items: center;
    gap: 16.76px;
    padding: 8.82px 0px 8.82px 8.82px;
    display: flex;

    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}
.mipanel-section .item:hover{
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mipanel-section .new-search {

    width: 22.94px;
    height: 22.94px;
    aspect-ratio: 1;
}

.mipanel-section .vector-3 {
    width: 17px;
    height: 17px;
}

.mipanel-section .text-wrapper-4 {

    width: fit-content;
    font-family: "Open Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14.1px;
    letter-spacing: 0;
    line-height: normal;
}

.mipanel-section .img-wrapper {

    width: 24px;
    height: 24px;
}

.mipanel-section .vector-4 {
    width: 91.57%;
    height: 79.17%;
}

.mipanel-section .vector-wrapper-2 {

    width: 22.06px;
    height: 22.06px;
    aspect-ratio: 1;
}

.mipanel-section .vector-5 {
    width: 19px;
    height: 18px;
}

.mipanel-section .vector-6 {
    width: 87.50%;
    height: 79.17%;
}

.tools-section {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;

    flex: 1;
    flex-grow: 1;
}

.text-wrapper-5 {

    flex: 1;
    margin-top: -1.00px;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    color: #1f1f1f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.top-bar {
    background-color: #c20e1a;
    height:3%;
}

.error-message {
            color: #c20e1a;
            width: 60%;
            background-color: #ffdddd;
            border: 1px solid #eccccc;
            padding: 12px;
            font-size: 20px;
            left: 20%;
            border-radius: 8px;
            position: absolute;
}