<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/resultado.css}" />
</head>
<body>
<div th:replace="~{fragmentos :: top-bar}"></div>
<div class="container">
  <div class="home-page">
    <div class="main-content">
      <div th:replace="~{fragmentos :: profile}"></div>
      <div class="search">
        <!-- FORMULARIO DE BÚSQUEDA -->
        <div class="nav-content">
          <form class="nav" th:action="@{/buscar}" method="post">
            <input type="text" name="palabraClave" placeholder="Buscar en todos los recursos del catalogo" th:value="${palabra}">
            <button class="vector-wrapper" type="submit"><img class="vector" th:src="@{/img/busqueda.svg}" /></button>
            <div class="voice"><img class="img" th:src="@{/img/microfono.svg}" /></div>
          </form>
        </div>
        
        <div class="nav-result-wrapper">
          <div class="nav-result">
            <div class="div-wrapper"><div class="text-wrapper"><span th:text="${resultados.size()}"></span> Resultados</div></div>
            <div class="div"><p class="p">Mi canasta</p></div>
          </div>
        </div>

        <!-- FORMULARIO PARA PRÉSTAMOS -->
        <form th:action="@{/canasta/servicio}" method="post" id="prestamoForm" class="result-content">
          <div class="result" th:each="resultado, iterStat : ${resultados}">
            <div class="numero">
              <input type="checkbox" name="select" th:value="${resultado.codigoDeBarras}"> 
              <div class="text-wrapper-2" th:text="${iterStat.count} + ' .'"></div>
            </div>
            <div class="contenido">
              <a class="text-wrapper-3" th:text="${resultado.titulo}" th:href="@{'/buscar/' + ${resultado.titulo}}"></a>
              <p class="text-wrapper-4" th:text="${resultado.getAutoresString()}"></p>
              <div class="icon-text">
                <div class="vector-wrapper"><img class="vector-2" th:src="@{/img/libros.svg}" /></div>
                <div class="frame-2"><div class="text-wrapper-5" th:text="${resultado.tipoDePublicacion}"></div></div>
              </div>
              <div class="text-wrapper-6">Ejemplares: 2</div>
              <a class="delete" th:href="@{'/canasta/eliminar/'+ ${iterStat.count}}">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>

              </a>
            </div>
          </div>
            <div class="acciones">
                <select name="servicio" class="servicio" required>
                    <option disabled selected>Seleccionar servicio</option>
                    <option value="prestamo">Préstamo</option>

                    <option value="reserva">Reserva</option>
                </select>
                <button type="submit" class="login">Aceptar</button>
           </div>
        </form>

       
      </div>
      <footer th:replace="~{fragmentos :: footer}"></footer>
    </div>
  </div>
  <div th:replace="~{fragmentos :: side-bar}"></div>
</div>
<script>
  function validarSeleccion(formId) {
      const form = document.getElementById(formId);
      const checkboxes = form.querySelectorAll('input[type="checkbox"][name="select"]');
      let alMenosUnoSeleccionado = false;
      
      checkboxes.forEach(checkbox => {
          if(checkbox.checked) {
              alMenosUnoSeleccionado = true;
          }
      });
      
      if(!alMenosUnoSeleccionado) {
          alert('Por favor seleccione al menos un recurso');
          return false;
      }
      
      return true;
  }
</script>
<style>

.acciones{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:  end;
    gap: 10px;
}
</style>
</body>
</html>