<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="top-bar" th:fragment="top-bar"></div>

    <div class="profile" th:fragment="profile">
      <a class="back" href="javascript:history.back()">
        <div class="vector-wrapper"><img class="vector" th:src="@{/img/back.svg}" /></div>
        <div class="text-wrapper">Resultados</div>
      </a>
      <div class="frame" th:if="${session.user}"><img class="icon" th:src="@{/img/icon.svg}"/></div>
      <a class="login" th:if="${session.user == null}" th:href="@{/login}">Login</a>
    </div>

    <footer class="footer" th:fragment="footer">
      <div class="content">
        <p class="ref">Contacto | Enlaces | Ayuda<br />© 2025</p>
      </div>
    </footer>

    <div class="side-bar" th:fragment="side-bar">
      <div class="logo-section"><img class="logo-UV" th:src="@{/img/univalle-logo-2.png}" /></div>
      <div class="separador" ></div>
      <div class="mipanel-section">
        <div class="div-2">
          <div class="text-wrapper-3">Mi panel</div>
          <div class="arrow"><img class="vector-2" th:src="@{/img/arrow.svg}" /></div>
        </div>
        <div class="item-section">
          <a class="item" th:href="@{/}">
            <div class="new-search"><img class="vector-3" th:src="@{/img/busqueda-black.svg}"/></div>

            <div class="text-wrapper-4">Nueva Búsqueda</div>
          </a>
          <a class="item" th:href="@{/canasta/listar}">
            <div class="img-wrapper"><img class="vector-4" th:src="@{/img/canasta.jpeg}" /></div>
            <div class="text-wrapper-4">Mi Canasta</div>
          </a>
          <a class="item" th:href="@{/prestamo/listar}">
            <div class="vector-wrapper-2"><img class="vector-5" th:src="@{/img/prestamo.jpeg}" /></div>
            <div class="text-wrapper-4">Mis Préstamos</div>
          </a>
          <a class="item" href="#">
            <div class="vector-wrapper-2"><img class="vector-6" th:src="@{/img/reserva.jpeg}" /></div>
            <div class="text-wrapper-4">Mis Reservas</div>
          </a>
        </div>
      </div>
      <div class="tools-section">
        <div class="div-2"><div class="text-wrapper-5">Herramientas de Búsqueda</div></div>
      </div>
      <a class="login" style="margin-bottom: 10px;" th:if="${session.user}" th:href="@{/logout}">Cerrar session</a>
    </div>
    <th:block th:fragment="modal-resultado">
      <div class="modal-overlay" th:if="${mensajeModal}">
        <div class="modal-box">
          <div class="modal-icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#FFFFFF"><path d="M382-232.35 146.35-468l64.89-64.89L382-362.13l366.76-366.76L813.65-664 382-232.35Z"/></svg>
          </div>
          <div class="text-contenedor">
            <h2 class="modal-title" th:text="${tituloModal}"></h2>
            <p class="modal-message" th:text="${mensajeModal}"></p>
            <div class="time-contenedor" th:if="${mensajeTime}">
              <img th:src="@{/img/time.svg}" class="time-img">
              <p class="time-text" th:text="${mensajeTime}"></p>
            </div>
          </div>

          <button class="modal-button" onclick="document.querySelector('.modal-overlay').style.display = 'none';">Cerrar</button>
        </div>
      </div>
    </th:block>
  </body>



</html>