<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" th:href="@{/css/recursos.css}" />
</head>
<body>
<div th:replace="~{fragmentos :: top-bar}"></div>
<div class="container">
  <div class="home-page">
    <div class="main-content">
      <div th:replace="~{fragmentos :: profile}"></div>

      <div class="search">
          <div th:replace="~{fragmentos :: error-alert}"></div>
        <div class="detalles-recurso-wrapper">
          <div class="detalles-recurso">
            <div class="tipo">
              <div class="div-wrapper"><div class="text-wrapper-2" th:text="${lista[0].tipoDePublicacion}"></div></div>
              <div class="img-wrapper"><img class="img" th:src="@{/img/libros.svg}" /></div>
            </div>
            <p class="p" th:text="${lista[0].titulo}"></p>
            <div class="frame-2">
              <div class="text-wrapper-3" >Autores:</div>
              <p class="text-wrapper-4" th:text="${lista[0].getAutoresString()}"></p>
            </div>
            <div class="frame-2">
              <div class="text-wrapper-3">Publicación:</div>
              <p class="text-wrapper-5" th:text="${lista[0].publicacion}"></p>
            </div>
            <div class="frame-2">
              <div class="text-wrapper-3">Idioma:</div>
              <div class="text-wrapper-5" th:text="${lista[0].idioma}"></div>
            </div>
            <div class="frame-3">
              <div class="text-wrapper-3">Materia(s):</div>
              <p class="text-wrapper-5" th:text="${lista[0].tema}"></p>
            </div>
          </div>
        </div>
        <form class="frame-4" method="post" th:action="@{/canasta/agregar}">
          <div class="frame-5">
            <div class="text-wrapper-6">Disponibilidad del Ejemplar</div>
            <button class="canasta" type="submit" id="btn-canasta">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 9h2V6h3V4h-3V1h-2v3H8v2h3v3zm-4 9c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2zm-8.9-5h7.45c.75 0 1.41-.41 1.75-1.03l3.86-7.01L19.42 4l-3.87 7H8.53L4.27 2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2z"/></svg>
              <div class="canasta-text">Añadir a Mi Canasta</div>
            </button>
          </div>
          <div class="table">
            <header class="header">
              <div class="frame-6"><div style="width: 20px;"></div></div>
              <div class="frame-7"><div class="text-wrapper-7">Código</div></div>
              <div class="frame-8"><div class="text-wrapper-7">Localización</div></div>
              <div class="frame-7"><div class="text-wrapper-7">Categoría</div></div>
              <div class="frame-7"><div class="text-wrapper-7">Estado</div></div>
              <div class="frame-8">
                <div class="servicio">Servicio<br />(Préstamo / Reserva)</div>
              </div>
            </header>
            <div class="row" th:each="recurso : ${lista}">
                <div class="frame-6"><input class="div-2" name="select" type="checkbox" onclick="soloUno(this)" th:value="${recurso.codigoDeBarras}"></div>
              <div class="frame-7"><div class="text-wrapper-8" th:text="${recurso.codigoDeBarras}"></div></div>
              <div class="frame-8"><div class="text-wrapper-9" th:text="${recurso.localizacion}"></div></div>
              <div class="frame-7"><div class="text-wrapper-8" th:text="${recurso.categoria}"></div></div>
              <div class="frame-7"><div class="text-wrapper-8" th:text="${recurso.estado}"></div></div>
              <div class="frame-9">
                <th:block th:if="${session.user}">
                  <a th:if="${recurso.estado.equalsIgnoreCase('Disponible')}" th:href="@{/prestamo/{id}(id = ${recurso.codigoDeBarras})}" style="display: flex;">
                    <img class="image" th:src="@{/img/btn-reserva.png}" />
                  </a>
                  <img class="image" th:src="@{/img/btn-reserva.png}" th:if="${recurso.estado.equalsIgnoreCase('No Disponible')}" style="opacity:0.7"/>
                  <div class="line"></div>
                  <a class="res-icon" th:href="@{/reserva/{id}(id = ${recurso.codigoDeBarras})}">Reservar</a>   
                </th:block>
              </div>
            </div>

          </div>
        </form>
      </div>

      <footer th:replace="~{fragmentos :: footer}"></footer>
    </div>
  </div>
  <div th:replace="~{fragmentos :: side-bar}"></div>
</div>
  <div th:replace="~{fragmentos :: modal-resultado}"></div>
</body>
</html>